@charset "UTF-8";
body header {
  background-color: #f8fdff;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header ul {
  background-color: #f2fafd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header ul li {
  margin: 0 10px;
}

body .top {
  text-align: center;
  background-color: #f8fbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 750px;
}

@media screen and (max-width: 1000px) {
  body .top {
    height: 650px;
  }
}

body .top h1 {
  font-size: 60px;
  margin: 30px 0;
  font-weight: normal;
  color: #85b4fa;
}

@media screen and (max-width: 1000px) {
  body .top h1 {
    font-size: 26px;
  }
}

body .top h2 {
  color: #85b4fa;
  font-size: 50px;
  font-weight: normal;
}

@media screen and (max-width: 1000px) {
  body .top h2 {
    font-size: 21px;
  }
}

body .top .genre {
  margin-top: 20px;
  color: #585858;
}

@media screen and (max-width: 1000px) {
  body .top .genre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .top .genre span {
  margin: 0 20px;
  font-size: 24px;
}

body .top .genre span i {
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  body .top .genre span {
    font-size: 16px;
    margin: 10px 0;
  }
}

body .center .works {
  margin-bottom: 80px;
  padding: 60px 30px 30px 30px;
}

body .center .works h4 {
  text-align: center;
  margin-bottom: 100px;
  color: gray;
  display: block;
  margin: 0 auto 0px auto;
  font-size: 26px;
}

@media screen and (max-width: 1000px) {
  body .center .works h4 {
    font-size: 20px;
  }
}

body .center .works h4 i {
  margin-right: 10px;
}

body .center .works .works-contents {
  width: 60%;
  margin: 20px auto;
}

@media screen and (max-width: 1000px) {
  body .center .works .works-contents {
    width: 100%;
  }
}

body .center .works .works-contents .works-content {
  padding: 20px 0 50px 0;
  border-bottom: solid 2px #cfcfcf;
}

body .center .works .works-contents .works-content .works-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0 65px 0;
  font-size: 25px;
  color: #609df8;
}

body .center .works .works-contents .works-content .works-title i {
  margin-right: 5px;
}

body .center .works .works-contents .works-content .content .tags {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

body .center .works .works-contents .works-content .content .tags li {
  margin: 10px 10px 10px 0;
  padding: 5px 15px;
  background-color: #ebebeb;
  border-radius: 4px;
}

body .center .works .works-contents .works-content .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .center .works .works-contents .works-content .content .info .period {
  margin: 30px 0;
}

body .center .works .works-contents .works-content .content .info a {
  margin: 0 0 20px 0;
  display: inline-block;
  color: #1164fd;
  text-decoration: none;
}

body .center .works .works-contents .works-content .content .info a:hover {
  -webkit-text-decoration: #3286f5 underline;
          text-decoration: #3286f5 underline;
}

body .center .works .works-contents .works-content .content .ex .ex-title {
  padding: 16px 0;
  text-align: left;
  font-size: 1rem;
  color: #85b4fa;
}

body .center .works .works-contents .works-content p {
  line-height: 1.8rem;
}

@media screen and (max-width: 1000px) {
  body .center .works .works-contents .works-content p {
    line-height: 1.5rem;
    font-size: 14px;
  }
}

body footer {
  height: 160px;
  width: 100%;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer .sns {
  display: inline-block;
}

body footer .sns i {
  margin: 0 30px;
  font-size: 40px;
  color: white;
}

body footer .sns i:hover {
  color: #94a5be;
}

body footer .sns .qiita {
  font-size: 40px !important;
  margin: 0 30px;
  text-decoration: none;
  color: #55c500;
}

body footer span {
  color: #bdbdbd;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body {
    background-color: red;
  }
}
/*# sourceMappingURL=index.css.map */